body {
    background-color: Black;
}
.jumbotron {
    background-color: Purple;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
.card-header {
    background-color: Yellow;
    color: Black
}
.card-body {
    background-color: Purple;
}
.list-group-item {
    background-color: white;
    color: black
}