.jumbotron {
    background-color: Purple;
    color: black;
    font-family: "ocr A";
}
.card-body {
    background-color: Purple;
    font-family: "ocr AS"
}
body {
    background-color: Black;
    font-family: "ocr A";
}
